<footer>
    <div class="container" data-aos="flip-up">
        <div class="footer">
            <div class="f-item fr-2">
                <div class="clm-item">
                    <img src="img/logo.svg" alt="">
                </div>
                <div class="clm-item">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor invidunt
                        ut labore.</p>
                    <ul id="footer-media">
                        <li><a href="#"><i class="fa-brands fa-facebook ink"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in ink"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter ink"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-whatsapp ink"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="f-item fr-1">
                <div class="clm-item">
                    <h2>compny</h2>
                </div>
                <div class="clm-item">
                    <ul>
                        <li><a href="">home</a></li>
                        <li><a href="">about</a></li>
                        <li><a href="">service</a></li>
                        <li><a href="">team</a></li>
                        <li><a href="">contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="f-item fr-1">
                <div class="clm-item">
                    <h2>about</h2>
                </div>
                <div class="clm-item">
                    <ul>
                        <li><a href="">Documentation</a></li>
                        <li><a href="">IOS & Android Apps</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Support Forum</a></li>
                        <li><a href="">Terms Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="f-item fr-1">
                <div class="clm-item">
                    <h2>resource</h2>
                </div>
                <div class="clm-item">
                    <h3>Company No: C5B345
                        LEARN AND BUILD LTD.</h3>
                    <h3>Address: M-321 DURGAPURA,
                        MUKTANAGAR JAIPUR, IND 302001</h3>
                </div>
            </div>
        </div>
        <span class="p-40"></span>
    </div>
    <h2 id="last-line">Designed and Developed By <a href="/" class="tc">Tc-choudhary</a></h2>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</footer>


<!-- <div class="reg modal none" id="reg rgnone">
    <form>
        <div class="imgcontainer">
            <span onclick="document.getElementById('regnone').style.display='none'" class="close"
                title="Close Modal">&times;</span>
        </div>
        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>

            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

            <button type="submit" class="registerbtn">Register</button>
        </div>

        <div class="container signin">
            <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div>
    </form>
</div> -->

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="js/script.js"></script>
<script>
    AOS.init({
        offset: 260,
        duration: 1000,
        easing: 'ease-in-out',
    });
</script>
</body>

</html>