<%- include('partials/header'); -%>

    <section class="service" id="service">
        <div class="container">
            <div class="roww four">
                <div class="item" data-aos="zoom-out-down">
                    <div class="img-perent">
                        <div class="img-icon">
                            <i class="fa-solid fa-dollar-sign"></i>
                        </div>
                        <h4>Secure Wallet</h4>
                        <p>Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                        </p>
                    </div>
                </div>
                <div class="item" data-aos="fade-up">
                    <div class="img-perent">
                        <div class="img-icon">
                            <i class="fa-regular fa-bell"></i>
                        </div>
                        <h4>Secure Wallet</h4>
                        <p>Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                        </p>
                    </div>
                </div>
                <div class="item" data-aos="fade-right">
                    <div class="img-perent">
                        <div class="img-icon">
                            <i class="fa-solid fa-arrows-rotate"></i>
                        </div>
                        <h4>Secure Wallet</h4>
                        <p>Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                        </p>
                    </div>
                </div>
                <div class="item" data-aos="fade-left">
                    <div class="img-perent">
                        <div class="img-icon">
                            <i class="fa-solid fa-gear"></i>
                        </div>
                        <h4>Secure Wallet</h4>
                        <p>Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                        </p>
                    </div>
                </div>
                <div class="item" data-aos="fade-up">
                    <div class="img-perent">
                        <div class="img-icon">
                            <i class="fa-solid fa-bolt"></i>
                        </div>
                        <h4>Secure Wallet</h4>
                        <p>Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                        </p>
                    </div>
                </div>
                <div class="item" data-aos="fade-right">
                    <div class="img-perent">
                        <div class="img-icon">
                            <i class="fa-solid fa-bitcoin-sign"></i>
                        </div>
                        <h4>Secure Wallet</h4>
                        <p>Lorem ipsum dolor sit aconsetetur sadipscing elitr, sed dianonumy invidunt ut labore .
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer'); -%>