<%- include('partials/header'); -%>

    <section class="team" id="team">
        <div class="container">
            <div class="text" data-aos="flip-left">
                <h1>meet our team</h1>
                <p id="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus odit quisquam
                    exercitationem fugiat. Cum, cupiditate!</p>
            </div>
            <div class="roww four-fr">
                <div class="item">
                    <div class="team-img">
                        <div class="team-img-icon">
                            <img src="img/team-1.png" alt="">
                            <div class="team-social-links">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-facebook ink"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in ink"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter ink"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info">
                                <h5>Mdisdh Dksdd</h5>
                                <span>CEO</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-img">
                        <div class="team-img-icon">
                            <img src="img/team-2.png" alt="">
                            <div class="team-social-links">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-facebook ink"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in ink"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter ink"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info">
                                <h5>Rdisdh Yksdd</h5>
                                <span>Product Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-img">
                        <div class="team-img-icon">
                            <img src="img/team-3.png" alt="">
                            <div class="team-social-links">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-facebook ink"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in ink"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter ink"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info">
                                <h5>Qdisdh Eksdd</h5>
                                <span>Business Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-img">
                        <div class="team-img-icon">
                            <img src="img/team-4.png" alt="">
                            <div class="team-social-links">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-facebook ink"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in ink"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter ink"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info">
                                <h5>Shdjsiw Sdklj</h5>
                                <span>Digital Marketer</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- team-section -->
    <section class="count-down">
        <div class="container">
            <div class="roww">
                <div class="item">
                    <img src="img/countdown-img.svg" alt="">
                </div>
                <div class="item">
                    <div class="coundown-example">
                        <div class="countdown">
                            <p id="demo"></p>
                            <div id="countdown-example">
                                <p class="days text">DAYS</p>
                                <p class="hours text">HOUR</p>
                                <p class="minutes text">MINS</p>
                                <p class="seconds text">SECS</p>
                            </div>
                        </div>
                        <div class="countdown-conntent" data-aos="flip-left">
                            <h1>Smart and Secure Way to Invest in Crypto</h1>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy eirmod tempor
                                invidunt. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dianonumy
                                eirmod
                                tempor invidunt ut labore.</p>
                            <a href="/" class="btn">buy token now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer'); -%>